<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Blog of SacredSkull">
		<title>{% block page_title %}{% endblock page_title %}SacredSkull &#9760;</title>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/monokai-sublime.min.css">
		{% set OPTIMAL_CSS %}
			<link href='{{base_url()}}/css/styles.css' rel='stylesheet' type='text/css'>
		{% endset %}
		{% block css_block %}
		{% endblock css_block %}

		<style type="text/css">
			{% block additional_css %}
			{% endblock additional_css%}
		</style>

		<!--[if IE]>
		{{ OPTIMAL_CSS }}
		<![endif]-->
		<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="{{base_url()}}/wlwmanifest.xml" />

		{% block head %} {% endblock head %}

		<!--[if lte IE 8]>
			<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-old-ie-min.css">
		<![endif]-->
		<!--[if gt IE 8]><!-->
			<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-min.css">
		<!--<![endif]-->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script async src="https://use.fontawesome.com/7fa01a8486.js"></script>
		<script async src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
		<script defer type="text/javascript" src="{{base_url()}}/js/all.min.js"></script>
	</head>
	<body>
		{{ OPTIMAL_CSS }}
		<div id="layout" class="pure-g">
			<div class="sidebar pure-u-1 pure-u-md-5-24">
				<div class="floater" style=" overflow-x: hidden; height: 100%; background-image: url({{ random_flickr_image.url }}); background-size: cover">
					<object id="skull" class="pure-img" type="image/svg+xml" data="{{base_url()}}/img/skull.svg" onerror="this.src = '{{base_url()}}/img/skull.png'">
						<img id="skull" class="pure-img" src="{{base_url()}}/img/skull.svg" onerror="this.src='{{base_url()}}/img/skull.png'"/>
					</object>
					{# <img id="skull" class="pure-img-responsive" src="{{base_url()}}/img/skull.svg" onerror="this.src = '{{base_url()}}/img/skull.png'"/> #}
{# 					<h1 class="brand-title"> #}
					<a class="brand-title" href="{{ base_url() }}">
						<span class="title title-top">
							<span class="char1">S</span><span class="char2">a</span><span class="char3">c</span><span class="char4">r</span><span class="char5">e</span><span class="char6">d</span><span class="char7">S</span><span class="char8">k</span><span class="char9">u</span><span class="char10">l</span><span class="char11">l</span><span class="char12">.</span>
						</span>
						<span class="title title-shadow">
							<span class="char1">S</span><span class="char2">a</span><span class="char3">c</span><span class="char4">r</span><span class="char5">e</span><span class="char6">d</span><span class="char7">S</span><span class="char8">k</span><span class="char9">u</span><span class="char10">l</span><span class="char11">l</span><span class="char12">.</span>
						</span>
					</a>
{# 					</h1> #}
					<h2 class="brand-tagline"><i>{% if flash['denied'] is defined %}{{ flash['denied'][0] }}{% else %}{{ quote|default('Take note of your nearest emergency exit') }}{% endif %}</i></h2>
					<nav class="nav">
						<ul class="nav-list">
							{% for category in categories %}
							<li class="nav-item nav-item-tight">
								<a href="{{base_url()}}/category/{{category.getSlug}}" class="pure-button category">{{category.getName}}</a>
							</li>
							{% endfor %}
						</ul>
					</nav>
					{#<div class="sidebar-bottom">#}
						{#<a class="pure-u-1-2" href="{{ random_flickr_image.info.photo.urls.url }}">{{ random_flickr_image.info.photo.title }}</a>#}
						{#<span class="pure-u-1-2">{{ random_flickr_image.info.photo.description }}</span>#}
					{#</div>#}
				</div>
			</div>

			<div class="content pure-u-1 pure-u-md-17-24">
				<div>
					<!-- A wrapper for all the blog posts -->
					<div class="posts">
						{% block content %}
							<p>Nothing to see here!</p>
						{% endblock content%}
					</div>
					<div class="footer">
						{% block footer %}
						{% endblock footer %}
						<div id="footer" class="pure-menu pure-menu-horizontal">
							<ul>
								<li class="pure-menu-item"><a title="Photos that I might be slightly pleased with" href="//www.flickr.com/photos/34472690@N06/" class="pure-menu-link"><i class="fa fa-flickr fa-lg" aria-hidden="true"></i> Flickr</a></li>
								<li class="pure-menu-item"><a title="Read: how I wasted my time this week" href="//www.stumbleupon.com/stumbler/SacredSkull" class="pure-menu-link"><i class="fa fa-stumbleupon-circle fa-lg" aria-hidden="true"></i> StumbleUpon</a></li>
								<li class="pure-menu-item"><a title="What I listen to" href="//www.last.fm/user/Cl0ttERS" class="pure-menu-link"><i class="fa fa-lastfm-square fa-lg" aria-hidden="true"></i> Last.fm</a></li>
								<li class="pure-menu-item"><a title="Stuff I tinker with" href="//github.com/sacredskull" class="pure-menu-link"><i class="fa fa-github fa-lg" aria-hidden="true"></i> GitHub</a></li>
							</ul>
							<div id="execution-time">{{ executeTime() }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
		</script>
		{% block additional_js %}
		{% endblock additional_js %}
	</body>
</html>

